*{
    
}

body  {
    font-family: Georgia, 'Times New Roman', Times, serif;

}

header {
    display: flex;
    text-align: center;
    padding: 20px;
    padding-top: 0px;

}

h1 {
    font-size: 40pt;
    height: 50pt;
    justify-content: center;
    margin: auto;
    padding: 20pt;
    border: 5pt solid black;
}

main {

}

textarea {
    justify-content: center;
}
.timer-box {
    display:flex;
    justify-content: center;
    border: 5pt solid black;
    height: 200pt;
    width: 200pt;
    
}

.timer {
    font-size: 20pt;
    justify-content: center;
}

.joke-box {
    display: flex;
    border-radius: 5px;
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
    border: 5pt solid black;
}

.question {
    content: " ";
    display: flex;
    width: 200pt;
    height: 200pt;
    border: 5pt solid black;

}

.answer-options {
    justify-content: center;
}


